html,
body,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
div {
    margin: 0px;
    padding: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

button {
    width: 80px;
    height: 32px;
}

body {
    overflow: hidden;
}

/*가운데정렬 시 사용*/

#container {
    margin: 0 10%;
}

.h1 {
    font-weight: bold;
    font-size: 2em;
    padding: 0px;
    margin: 0px;
}

/***********************************/

/*홈페이지 전체 크기*/

#main {
    width: 100vw;
    height: 100vh;
    background-color: #fff4f4;
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
    top: 0;
}


/*메뉴*/

#menu {
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    overflow-y: scroll;
    text-align: center;
}

#menu ul {
    background-color: black;
    position: relative;
}

#menu ul li {
    display: inline-block;
}

#menu ul li a {
    margin: 12px 5px;
    border: 6px solid;
    border-radius: 100px;
    display: inline-block;
}

#menu ul li:hover a {
    border-color: #ff9d00;
}

#menu ul li:hover h4 {
    display: block;
}

#menu ul li h4 {
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top: 40px;
    background-color: #ffd295;
    color: white;
    display: none;
}

#menu ul li h4:after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #ffd295;
    content: "";
    position: absolute;
    top: -10px;
    left: calc(50% - 10px);
}

#menu ul li button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin-right: 5px;
    height: 30px;
    background-color: #9a9a9a;
    color: white;
    border: none;
    font-weight: bold;
}

#menu .on a {
    border-color: #ff9d00;
}

#menu .on h4 {
    display: block;
}

#menu .off a {
    border-color: #f2f2f2;
}

#menu .off h4 {
    display: none;
}

/*로고 및 검색*/

#banner {
    width: 100%;
    margin-top: 70px;
    text-align: center;
    margin-bottom: 60px;
}

#banner a img,
#banner a {
    height: 150px;
}


.search input {
    border: 0;
}

.search input {
    width: 250px;
    height: 30px;
    padding: 1px 5px;
}

.search input[type="button"] {
    width: 60px;
    height: 32px;
    background-color: #ff9d00;
    color: white;
    font-weight: bold;
    vertical-align: middle;
}

#footer {
    width: 100%;
    position: relative;
    text-align: center;
}

#footer .basic span {
    margin: 5px;
    padding: 10px;
    font-size: 15px;
}

#footer .basic p {
    font-size: 11px;
}

#footer .sub ul li {
    list-style: none;
    display: inline;
}

#footer .sub .lol {
    width: 35px;
    height: 31px;
}

#footer a {
    margin: 5px;
}

/***********************************/

/*세션 테두리*/

#container {
    width: 80%;
    height: 100%;
    margin-top: 80px;
    margin-bottom: 30px;
    position: relative;
}


/*세션 공통값*/

#bestbbs,
#bestmovie,
#bbsCList {
    width: calc(50% - 5px);
}


/*베스트 게시물*/

#bestbbs {
    float: left;
}


/*화제의 영상*/

#bestmovie {
    float: right;
}

#bestbbs .table,
#bestmovie .table {
    text-align: center;
    width: 100%;
    border-spacing: 0px;
    background-color: white;
    border-bottom: 1px solid #36161c;
    /*테이블제목간격*/
}

#bestbbs .table th,
#bestmovie .table th {
    background-color: #36161c;
    color: white;
    padding: 5px 0;
}

#bestbbs .table td,
#bestmovie .table td {
    padding: 10px;
    border-bottom: 1px dotted #cbcbcb;
}

#bestbbs .bestbbs .title,
#bestmovie .hotbbs .title {
    position: absolute;
    left: 40px;
    top: 5px;
}

#bestbbs .bestbbs,
#bestmovie .hotbbs {
    position: relative;
}

#bestbbs .bestbbs img,
#bestmovie .hotbbs img {
    width: 30px;
    padding-right: 10px;
    margin-bottom: 10px;
    float: left;
}

/***********************************/

#write {
    width: 100%;
    position: relative;
    text-align: center;
}

#write ul li {
    width: calc(100% / 3);
    padding: 8px 0;
    font-weight: bold;
    float: left;
    list-style: none;
    margin-bottom: 30px;
}

.commenu ul li {
    width: calc(100% / 4);
    padding: 8px 0;
    font-weight: bold;
    float: left;
    list-style: none;
    margin-bottom: 30px;
    text-align: center;
}

.commenu .on,
#write ul li:hover {
    background-color: #36161c;
}

.commenu .on li,
#write ul li:hover a {
    color: white;
    margin: 0;
}

.commenu .off {
    background-color: rgb(255, 255, 255);
}

.commenu .off li {
    color: black;
    margin: 0;
}

#write button {
    border: none;
    font-weight: bold;
    color: white;
    background-color: #ff9d00;
    margin-top: 10px;
}

/**** 동영상글쓰기 ****/

#write .moviewrite .h1 {
    width: 100%;
    padding: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 13px;
}

#write .moviewrite textarea {
    background-color: white;
    width: calc(100% - 12px);
    max-width: calc(100% - 12px);
    height: 200px;
    max-height: 200px;
    padding: 5px;
    border: 1px solid #9f9f9f;
    overflow-y: scroll;
}

#write .bbswrite .h1 {
    width: 100%;
    padding: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    font-size: 13px;
}

/*********************************************/

#bbsshow .bbsmenu ul li {
    list-style: none;
    display: block;
    float: left;
    padding: 0;
    margin: 0;
}

#bbsshow ul li button {
    height: 24px;
}

#bbsshow .bbsright,
#bbsshow .bbsWritebtn,
#bbsshow .bbsright button {
    float: right;
}

#bbsshow .bbsright select {
    height: 33px;
    padding: 1px 5px;
    font-weight: bold;
    vertical-align: middle;
}


/**리슽트*************************************************/

#bbsCList {
    float: left;
}


/*테이블 css 236번줄부터 257번까지 참고*/

/*********************************************챔프디테일*/

#champDetail .Cdiv {
    float: left;
}

#champDetail .h1 {
    font-size: 2em;
}

#champDetail .Cdiv,
P,
#champInfo {
    padding: 10px;
}

#champDetail ul li {
    list-style: none;
    float: left;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    /* 텍스트얼란,라인헤잍 이건 없애도댐 그냥 짤떄 이뻐볼라고,이미지정렬은 이미지넣고 이미지크키를 넣은다음 네임과 인포에 마진을 준다음 이미지는top으로 옮기면될듯.*/
}

#champDetail ul li img {
    width: 40px;
    height: 40px;
}

#champDetail ul .li1:hover {}

#champDetail ul .li2:hover {}

#champDetail ul .li3:hover {}

#champDetail ul .li4:hover {}

#champDetail #champSkilInfo {
    clear: both;
    margin-top: 200px;
}

#champDetail #championImg img {
    width: 70px;
    height: 70px;
}

#champDetail #champSkilInfo table {
    margin-left: auto;
    margin-right: auto;
}


/**************************************랭크*/

/*li를 가운데로 가게하려면 텍스트얼란을 부모한테 줘야하는데 그게안댐.. 일단보류*/

#lanking #lankHead {
    height: 70px;
}

#lankHead .search {
    float: right;
}

#lanking #lankHead .h1 {
    position: absolute;
}

#lanking #lankHead {
    clear: both;
}

#lanking #lankSession {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
}

#lanking #lankSession ul li {
    text-align: center;
    width: calc(100% / 4);
    float: left;
    padding: 10px 0;
    font-weight: bold;
    background-color: #36161c;
    color: white;
}

#lanking #lankSession #lankdata li {
    padding: 5px 0;
    border-bottom: 1px solid #d9d9d9;
    font-weight: bold;
    background-color: #ffffff;
    color: black;
}

#lanking #lankName {
    clear: both;
}

/********************유저검색시 나오는 전적창**********/

#userInfo #UPT {
    margin: 0px;
    padding: 0px;
}

#userInfo .Cdiv {
    float: left;
}

#userInfo ul li img {
    width: 40px;
    height: 40px;
}

#userInfo #userdata {
    clear: both;
    margin-top: 200px;
}

#userInfo #userImg img {
    width: 70px;
    height: 70px;
}

#userInfo #userdata table {
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid;
    border-bottom: 1px solid black;
}

#userInfo #userdata {
    padding: 3em;
}

#userInfo ul li {
    list-style: none;
    width: 50px;
    text-align: center;
    margin: 10px;
}

#userInfo .btnli {
    float: left;
    margin: 0px 10px
}

#userInfo #detailInfo {
    float: right;
}

#userInfo #detailInfo p {
    padding: 0px;
    margin: 0px;
}

/*********champAll*****************/
#champAll #sections{
    text-align: left;
    margin: 20px 100px;
}

#champAll .divGrid {
    background-color: #f4c500;
    width: 100%;
    height: 100%;
}

#champAll .h1 {
    height: 70px;
}

#champAll h4 {
    color: #343434;
    margin-bottom: 30px;
}

#champAll .divGrid .detailChampion {
    background-color: #f4c500;
    display: inline-block;
}

#champAll .divGrid .championImage img {
    height: 82px;
    width: 82px;
}

#champAll .divGrid .championName {
    text-align: center;
    width: 82px;
}

#champAll .divGrid .champ{
}
/****************8videoDetail*******************/

#videoDetail #sections .board {
    width: 100%;
    margin: 20px 0px;
}

#videoDetail #sections .board ul {
    float: left;
    width: calc(100% / 6);
}

#videoDetail #sections .board li {
    float: left;
    width: calc(100% / 6);
    list-style: none;
    text-align: center;
}

#videoDetail #sections .board ul li {
    width: 100%;
    height: 40px;
    list-style: none;
    text-align: center;
    background-color: #ffffff;
    border-bottom: dashed 1px;
    cursor: pointer;
    padding-top: 20px;
}

#videoDetail .btnWrite {
    float: right;
    clear: both;
}

#videoDetail .somenail li img {
    width: 70px;
    height: 45px;
    padding-top: 0px;
    transform: translateY(-11px);
}

#videoDetail .th li {
    padding: 20px 0px;
    background-color: #36161c;
    color: white;
    padding: 10px 0px;
}

#videoDetail {
    clear: both;
    padding: 30px 0px;
    margin: 0px;
}

.search {
    margin-top: 10px;
}
